# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[client]

socket = /var/run/mysql/mysqld.sock

[mysqld]

skip_external_locking
explicit_defaults_for_timestamp

#
# * Basic Settings
#

user              = mysql
pid_file          = /var/run/mysql/mysqld.pid
socket            = /var/run/mysql/mysqld.sock

port              = 3306
bind_address      = 0.0.0.0

basedir           = /usr
datadir           = /var/lib/mysql
tmpdir            = /var/tmp/mysql

#
# * Fine Tuning
#

max_connections  = 128

#
# * Logging
#

log_error           = /var/log/mysql/error.log

general_log         = 0
general_log_file    = /var/log/mysql/mysql.log

slow_query_log
slow_query_log_file = /var/log/mysql/slow.log
long_query_time     = 30

#
# * IMPORTANT: Additional settings that can override those from this file!
#

!includedir /srv/etc/mysql/conf.d/
