# The MySQL Server configuration file.
#

[mysqld]

user             = mysql

port             = 3306
bind_address     = 127.0.0.1

datadir          = /var/lib/mysql
tmpdir           = /var/tmp/mysql

pid_file         = /var/run/mysqld/mysqld.pid
socket           = /var/run/mysqld/mysqld.sock

#
# * IMPORTANT: Additional settings that can override those from this file!
#

!includedir /etc/mysql/conf.d/
